<div class="atomentry" id="article-<%= article.id %>">
  <h1 class="title">
    <%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title) %>
    <%= content_tag(:span, article.published_comments.size, :class => 'comment_count') if article.published_comments.size > 0 %>
  </h1>


  <div class="content">
    <%= article.html(:body) %>

    <% if article.extended? -%>
      <div class="extended">
        <% if controller.action_name == 'index' -%>
          <p><%= link_to_permalink article, _("Continue reading...") %></p>
        <% else -%>
          <%= article.html(:extended) %>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <ul class="meta">
    <li class="author">
      <%= _("Posted by")%> <cite><%= author_link(article) %></cite>
      <abbr class="published" title="<%= article.published_at.xmlschema %>"><%= js_distance_of_time_in_words_to_now article.published_at %></abbr>
    </li>

    <li class="links">
      <% if article.allow_pings? %>
        <%= trackbacks_link(article) %>
      <% end%>
      <%= comments_link(article) if article.allow_comments? %>
      <a href="<%= article.permalink_url %>" rel="bookmark"><%=_("permalink")%></a> 
    </li>
    <br class="clearfix"/>
  </ul>
</div>
