<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%= stylesheet_link_tag '/stylesheets/theme/reset', :media => 'screen, projection' %>
    <%= stylesheet_link_tag '/stylesheets/theme/screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag '/stylesheets/theme/print', :media => 'print' %>
    <!--[if IE]>
        <%= stylesheet_link_tag '/stylesheets/theme/ie.css', :media => 'screen, projection' %>
    <![endif]-->
  <title><%=h page_title %></title>
  <%= page_header %>
  
  <style type="text/css">
    <% @global_color = "#FFA500" %>
    <%= Sass::Engine.new(
    %Q{@import #{RAILS_ROOT + "/themes/ethereal/stylesheets/sass/_colors.sass"}
#header
  a.logo
    .z
      :color #{@global_color}
    &:hover
      :border-color #{@global_color}
      :background-color #{@global_color}

#navigation
  .hmenu
    .item 
      a
        &:hover, &.active
          :border-color #{@global_color}
      a.active
        :background-color #{@global_color}
        :color = !text_color_inverted
    }).render %>
    
  </style>
</head>

<body class="<%= controller_name %>" >

<div id="header">
  <div class="container">
    <a class="logo" href="/"><span class="z">z</span><span class="e">e</span></a>
    <div class="title">
      <h1>
        <span class="z">z</span>anshin<span class="e">e</span>
      </h1>
      <h2>
        <%= this_blog.blog_subtitle %>
      </h2>
    </div>
  </div>
</div>

<div id="navigation" class="container">
  <ul class="hmenu">
    <li class="item">
      <h3><%= link_to 'about', '/pages/about' %></h3>
    </li>
    <li class="item">
      <h3><%= link_to 'contact', '/pages/contact' %></h3>
    </li>
  </ul>
</div>

<div id="page" class="container">
  <div id="sidebar">
    <%= render_sidebars %>
  </div>

  <div id="content">
    <%= @content_for_layout %>
    <%= javascript_tag 'show_dates_as_local_time()' %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p><%= link_to this_blog.blog_name, this_blog.base_url %></p>
    <ul>
      <li>
        <%= _("Powered by %s", link_to('typo', 'http://typosphere.org')) %> /
        <%= _("styled with %s", link_to('ethereal', 'http://zanshine.com'))%>
      </li>
    </ul>
  </div>
</div>

</body>
</html>
